<a href="https://colab.research.google.com/github/chsaintlouis/HHA504-E2E/blob/main/E2E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import needed packages

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
!pip install pymysql
!pip install cryptography

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (36.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)

## Load CSV File

In [ ]:
csvfile = pd.read_csv('H1N1_Flu_Vaccines.csv')

In [ ]:
csvfile

       respondent_id  h1n1_concern  ...  h1n1_vaccine  seasonal_vaccine
0                  0           1.0  ...             0                 0
1                  1           3.0  ...             0                 1
2                  2           1.0  ...             0                 0
3                  3           1.0  ...             0                 1
4                  4           2.0  ...             0                 0
...              ...           ...  ...           ...               ...
26702          26702           2.0  ...             0                 0
26703          26703           1.0  ...             0                 0
26704          26704           2.0  ...             0                 1
26705          26705           1.0  ...             0                 0
26706          26706           0.0  ...             0                 0

[26707 rows x 38 columns]

##Connect to SQL instance

In [ ]:
MYSQL_HOSTNAME = '20.120.82.182' # change this to your IP address which is found on your AZURE dashboard 
MYSQL_USER = 'dba'
MYSQL_PASSWORD = 'ahi2020'
MYSQL_DATABASE = 'christest'

connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'
engine = create_engine(connection_string)
print(engine.table_names)

<bound method Engine.table_names of Engine(mysql+pymysql://dba:***@20.120.82.182/christest)>

In [ ]:
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}:3306/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

In [ ]:
TABLENAME = 'H1N1'

In [17]:
csvfile.to_sql(TABLENAME, con=engine)

OperationalError: ignored